.home-bg{
    background-image: url(.././img/home-banner-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 45rem;
    overflow-y: hidden;
}

 .home-bg .home{
    min-height: 20rem;
    display: flex;
    align-items: center;
    margin: 15px;
}

.home-bg .home .content{
    width: 30rem;
    text-align: center;
}

.home-bg .home .content h3{
    margin-top: 6rem;
    color: #FD8469;
    font-size: 2rem;
}

.home-bg .home .content h3 span{
    color: #84DCFF;
}

.home-bg .home .content p{
    font-size: 1.5rem;
    color: #FD8469;
    line-height: 2.5rem;
}